.component-container[data-component="GamerBlock"] {
    height: 100%;

    .gamer-block {
        padding: 10px;
        color: #fff;
        display: flex;
        flex-direction: column;
        height: 100%;

        .gamer-block-header {
            padding-bottom: 10px;
            border-bottom: 2px solid #fff;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .gamer-block-square {
                width: 23px;
                height: 23px;
                border: 2px solid #fff;
                border-radius: 6px;
                margin-right: 10px;
            }
        }

        .gamer-block-body {
            margin-top: auto;
            margin-bottom: auto;
            height: 100%;

            &[data-type="small"] {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                
                .gamer-block-row {
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
                    > div {
                        width: 50%;
                        margin-left: 2px;
                        margin-right: 2px;
                        position: relative;
    
                        img {
                            width: 100%;
                        }
                    }
    
                    
                    &:first-of-type {
                        > div:first-of-type {
                            width: 90%;
                        }
                    }
                }

                .game-block-point {
                    position: absolute;
                    left: 4px;
                    top: 2px;
                }

                .gamer-block-head {
                    img {
                        background-size: auto 100%;
                        background-repeat: no-repeat;
                        background-position: center 5px;
                    }
                }
            }

            &[data-type="normal"] {
                display: flex;

                > div {
                    height: 100%;
                }

                .gamer-block-full {
                    //width: 30%;
                    text-align: center;

                    img {
                        padding-top: 10px;
                        height: 100%;
                        display: inline-block;
                    }
                }

                .gamer-block-info-container {
                    //width: 70%;
                    width: 100%;
                    display: flex;
                    flex-direction: column;

                    .gamer-block-row {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        padding: 10px;

                        &:first-of-type {
                            //height: 40%;
                            height: 0%;
                            padding: 0px;
                        }

                        &:last-of-type {
                            //height: 60%;
                            height: 100%;
                        }
                    }
                }

                .gamer-block-money {
                    height: 30px;
                    border: 2px solid #fff;
                    border-radius: 10px;
                    padding: 7px 10px;
                    font-size: 12px;
                    margin: auto;

                    [data-type] {

                        &::after {
                            display: inline;
                            margin-left: 2px;
                        }
                    }

                    [data-type="real"] {
                        border-left: 2px solid #fff;
                        padding-left: 5px;

                        &::after {
                            content: attr(data-currency);
                        }
                    }

                    [data-type="virtual"] {
                        &::after {
                            content: "V";
                            margin-right: 5px;
                        }
                    }
                }

                .gamer-block-settings {
                    margin-left: 10px;
                }

                .gamer-block-shop {
                    margin-left: auto;
                }

                .gamer-block-settings, .gamer-block-shop {
                    height: 30px;
                    cursor: pointer;
                    background-color: rgba(0, 177, 159, 0.2);
                    border-radius: 8px;

                    transition: background-color .3s linear;

                    &:hover {
                        background-color: rgba(0, 177, 159, 0.4);
                    }

                    img {
                        height: 100%;
                    }
                }

                .gamer-block-full {
                    img {
                        background-position: center 15px;
                        background-size: auto 30%;
                        background-repeat: no-repeat;
                    }
                }
            }

            .gamer-block-medal, .gamer-block-build, .gamer-block-bomb {
                height: 100%;
                position: relative;
                
                img {
                    height: 100%;
                }
            }

            .gamer-block-build {
                margin-left: auto;
            }

            .gamer-block-bomb {
                margin-left: 10px;
            }

            .gamer-block-medal {
                margin-left: auto;
            }

            .game-block-point {
                position: absolute;
                left: 4px;
                top: 2px
            }
        }
    }
}