.main-container[data-layout="AuthorizationLayout"] {

    > div {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .page-main-container {
        margin: auto;
    }

    .square {
        width: 0;
        height: 0;
        background-color: #00abcd;
        border-top: .75em solid #00abcd;
        border-bottom: .75em solid #00abcd;
        border-left: .75em solid #00abcd;
        border-right: .75em solid #00abcd;
        transform: skew(-15deg);
    }

    .title {
        font-weight: 700;
        font-size: 2em;
        margin-left: .75em;
    }

    .page-title-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        font-style: italic;
        margin-bottom: 1em;
    }

    .auth-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: #e0e7e6;
        margin-bottom: 1em;
        padding: 0px 25px;

        input {
            width: 25em;
            padding: .5em .75em;
            margin-bottom: 1em;
        }
    }

    a {
        text-decoration: none;
        color: #000;
        display: inline-block;
    }

    .button-inverted, .button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: fit-content;
        background-color: #e0e7e6;
        color: #00abcd;
        padding: .5em 1em .5em 1em;
        border-radius: .8em;
        border: 0;
        outline: none;
        cursor: pointer;

        .button-text {
            font-size: 1.7em;
            font-weight: 700;
            margin-left: .5em;
        }

        .button-arrow {
            pointer-events: none;
            width: 0;
            height: 0;
            border-top: .6em solid transparent;
            border-bottom: .6em solid transparent;
            border-left: 1.2em solid #00abcd;
        }
    }

    .button-inverted {
        color: #fff;
        background-color: #00abcd;

        .button-arrow {
            border-left-color: #fff;
        }
    }

    .auth-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 2em;
        margin-top: auto;

        .copyright {
            background-color: #e0e7e6;
            background-repeat: repeat-x;
            width: 100%;
            color: #00abcd;
            padding-top: .5em;
            padding-bottom: .5em;

            p {
                padding-left: 4em;
                display: inline-block;
            }

            a {
                display: inline-block;
                color: inherit;
                margin-left: 5px;
            }
        }
    }

    header {
        .logo-container {
            margin-top: 75px;
            width: 280px;

            img {
                width: 100%;
                pointer-events: none;
            }
        }   
    }
}